<!doctype html>
<html lang="en">
<head th:replace="index :: common-head" />

<body>

	<div th:replace="index :: common-notification"></div>

	<header th:replace="index :: common-header" />

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link"
							aria-current="page" th:href="@{/}"> <i class="fas fa-home"></i>
								Main Menu
						</a></li>
					</ul>

					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							th:href="@{/branch}"> <i class="fas fa-store"></i> Branch
								Management
						</a></li>
					</ul>

					<ul class="nav flex-column"
						sec:authorize="hasAnyAuthority('Admin', 'Manager')">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							th:href="@{/employee}"> <i class="fas fa-user-tie"></i>
								Employee Management
						</a></li>
					</ul>

					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							th:href="@{/customer}"> <i class="fas fa-handshake"></i>
								Customer Management
						</a></li>
					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Item</span>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" href="/category"><i
								class="fas fa-sitemap"></i> Category Management </a></li>
						<li class="nav-item"><a class="nav-link" href="/brand"><i
								class="fas fa-copyright"></i> Brand Management </a></li>
						<li class="nav-item"><a class="nav-link" href="/item"><i
								class="fas fa-camera"></i> Item Management </a></li>
					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rent</span>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" href="/rent"><i
								class="fas fa-cart-arrow-down"></i> Rent Item </a></li>
						<li class="nav-item"><a class="nav-link" href="/return"><i
								class="fas fa-people-carry"></i> Return Item </a></li>
					</ul>

					<div
						sec:authorize="hasAnyAuthority('Admin', 'Manager', 'Accountant')">
						<h6
							class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Report</span>
						</h6>
						<ul class="nav flex-column mb-2">
							<li class="nav-item"><a class="nav-link"
								href="/report/profitByRent"><i class="fas fa-chart-line"></i>
									Profit by Rent Report </a></li>
							<li class="nav-item"><a class="nav-link"
								href="/report/profitByItem"><i class="fas fa-chart-line"></i>
									Profit by Item Report </a></li>
							<li class="nav-item"><a class="nav-link"
								href="/report/rentReport"><i class="fas fa-file-alt"></i>
									Rent Report </a></li>
						</ul>
					</div>

				</div>
			</nav>

			<main
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex justify-content-center">
				<img alt="403" src="/assert/403.png" class="w-75">
			</main>
		</div>
	</div>

	<div th:replace="index :: common-scripts" />

	<script>
		$(document).ready(function() {
			var table = $('#brand-table').DataTable();
		});
	</script>
</body>